body {
    background-color: var(--branco);
    color: var(--texto-escuro);
}

.container-cadastro {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
}

/*PAINEL DO TOPO*/

.painel-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--fundo);
    color: var(--branco);
}

.painel-topo .descricao {
    font-weight: 300;
}

/*PAINEL DE BAIXO*/

.painel-baixo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.form-nome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 30vh;
    gap: 16px;
    margin-top: 3%;
}

.form-senha {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30vw;
    height: 30vh;
    gap: 16px;
    margin-top: 3%;
}

.form-senha p {
    font-size: 0.7rem;
    font-weight: 400;
}

label {
    font-weight: 600;
    align-self: flex-start;
}

input {
    padding: 12px;
    border: 2px solid var(--borda);
    border-radius: 10px;
    font-size: 1rem;
    width: 90%;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px;
}

.botao-entrar {
    background-color: var(--fundo);
    color: var(--amarelo);
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    width: 30%;
}

.botao-entrar:hover {
    background-color: #263948;
    cursor: pointer;
}

.voltar {
    color: var(--texto-escuro);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*RESPONSIVIDADE - MEDIA QUERY*/

@media (max-width: 750px) {

    input {
        font-size: 0.5rem;
    }

    .botoes {
        padding: 70px;
    }

    .botao-entrar {
        width: 70%;
    }

}

@media (max-width: 450px) {
    .painel-topo-descricao {
        font-weight: 200;
    }
    
    label {
        font-size: 0.8rem;
    }

    input {
        width: 100%;
        font-size: 0.5rem;
    }

    .botao-entrar {
        width: 70%;
    }


}