@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); 
/* /importar fonte do google fontes, direto pro css/ */

/* AJUSTES GLOBAIS */
:root 
/* /criar variáveis para chamar o nome direto na estilização/ */
{
    --fundo: #132437; 
    /* /variável para fundo/ */
    --bg-home: #010300;
    --linha-decorativa: #C7CDD6;
    --texto-suave: #B3C0CF;
    --branco: #FFFFFF;
    --amarelo: #F7C13C;
    --borda-suave: rgba(255,255,255,0.2);
    --sombra-passo-clara: rgba(145,145,145,0.2);
    --sombra-passo-escura: rgba(0,0,0,0.5);
    --sombra-neo-clara: rgba(255,255,255,0.7);
    --sombra-neo-escura: rgba(0,0,0,0.8);
    --texto-escuro: #0C0101;
    --borda: #313A3E;
    --erro: #B40000;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

html
{
    scroll-behavior: smooth;
    /* /rolar de forma mais suave a tela/ */
}